data/bronze/2024-01/Cnaes.zip
data/bronze/2024-01/Empresas0.zip
data/bronze/2024-01/Empresas1.zip
data/bronze/2024-01/Empresas2.zip
data/bronze/2024-01/Empresas3.zip
data/bronze/2024-01/Empresas4.zip
data/bronze/2024-01/Empresas5.zip
data/bronze/2024-01/Empresas6.zip
data/bronze/2024-01/Empresas7.zip
data/bronze/2024-01/Empresas8.zip
data/bronze/2024-01/Empresas9.zip
data/bronze/2024-01/Estabelecimentos0.zip
data/bronze/2024-01/Estabelecimentos1.zip
data/bronze/2024-01/Estabelecimentos2.zip
data/bronze/2024-01/Estabelecimentos3.zip
data/bronze/2024-01/Estabelecimentos4.zip
data/bronze/2024-01/Estabelecimentos5.zip
data/bronze/2024-01/Estabelecimentos6.zip
data/bronze/2024-01/Estabelecimentos7.zip
downloader/.ipynb_checkpoints/Teste_Scritp-checkpoint.ipynb
downloader/Teste_Scritp.ipynb
