data/

airflow/logs
airflow/tmp
airflow/*.db
airflow/*.cfg
airflow/*.pid
airflow/*.txt
airflow/webserver_config.py
airflow/*.pyc

__pycache__/
*.pyc

**/.ipynb_checkpoints/

.git/
.gitignore

.idea/

.venv/